@media all and (max-width:799px){
        header{
            width: 100%;
            height: 10vw;
            background-color: rgb(97, 6, 35);
            position: relative;
        }
        .logo{
            width: 15vw;
            height: 10vh;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 10%;
            left: 10%;
        }
        .menu_wrap{
            width: 50%;
            height: 10vh;
            position: absolute;
            left: 50%;
            margin-left: -25%;
            display: flex;
        
        }
        .top_menu{
        width: 20%;
        height: 10vh;
        color: white;
        text-align: center;
        line-height: 6;
        font-weight: 900;
        }
        .sub_menu{
            width: 100%;
            height: 0;
            background-color: rgb(255, 187, 210);
            font-size: 1rem;
            text-align: center;
            line-height: 3.5;
            overflow: hidden;
            position: relative;
            z-index: 999;
        }
        .top_menu:hover .sub_menu{
            height: 60%;
        }
        .sub_menu:hover{
            background-color: rgb(255, 255, 255);
            color: #333;
        }
        /* 해더 끝 */
        
        /* 메인페이지 영역 */
        .main_wrap{
            width: 100%;
            height: 200vw;
        }
        video{
            width: 100%;
            height: 200vw;
        }
        /* 메인영역 끝 */
        /* 베스트 페이지  */
        #pc_swiper{
            display: none;
        }
        .best_page{
        
            height: 100vh;
            background-color: rgb(255, 231, 232);
            position: relative;
            top: 0;
            
        }
        .back_img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }
        h1{
            color: rgb(222, 14, 65);
            position: absolute;
            top: 15%;
            left: 50%;
            margin-left: -5%;
            font-size: 3.5rem;
            font-weight: 900;
        
        }
        .best_page p{
            color: rgb(117, 117, 117);
            position: absolute;
            top: 23%;
            left: 50%;
            margin-left: -4.5%;
            font-size: 1rem;
        }
          .swiper-slide {
            display: block;
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius:500px;
              height: 24vw;
              top:0%;
              overflow: hidden;
            
          }
          .swiper-slide img {
            position: absolute;
                left: 0;
                top: 0;
                transition: 2s;
                display: block;
            width: 100%;
        
          }
          .ice2{
            scale: 0.9;
          }
         .swiper-wrapper{
            width: 100%;
            height: 100%;
        
        }
          .swiper {
            width: 90%;
            height: 453px;
            /* margin: 20px auto; */
            position: relative;
            top:calc(50% - 150px)
          }
          .ice1{z-index: 99;}
            .swiper-slide:hover .ice1{
                left: -80%;
            }
        /* .left_but{} */
        /* 베스트 페이지 끝 */
        /* 성분 페이지  */
        .ingredient_page{
            width: 100%;
            height: 210vh;
            background-image: url(../img/back.jpg);
            background-size: 100% 100%;
            position: relative;
        }
        .ingredient_logo{
            width: 12%;
            height: 5%;
            background-image: url(../img/bg_logo.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 5%;
            left: 50%;
            margin-left: -5%;
        }
        .ingredient_page>p{
            text-align: center;
            color:rgb(97, 6, 35) ;
            font-size: 3.5rem;
            font-weight: 800;
            position: relative;
            top: 10%;
        }
        .pagr_box{
            width: 100%;
            height: 25%;
            margin: 3% 0;
            position: relative;
            top: 12%;
            opacity: 0;
            transition: 2s;
        
        }
        
        .img_box{
            position: absolute;
            top: 0;
            left: 10%;
            background-repeat: no-repeat;
          
        }
        .text_box{
            position: absolute;
            top: 31%;
            right: 5%;
            width: 50%;
            height: 65%;
        }
        .text_box p{
            font-size: 1.2rem;
            position: relative;
        
        }
        .text_box>p:nth-child(1){
            font-weight: 900;
            font-size: 2.3rem;
            color:rgb(186 7 64) ;
        }
        .one_text>p:nth-child(2){
            color: #333;
          
        }
        .two_img{
            left: 70%;
        }
        .two_text{
            left: 10%;
        }
        .two_text>p{
            text-align: right;
        }
        .three_img{
            width: 35%;
            height: 100%;
        }
        .th_img_box{
            width: 100%;
            height: 100%;
            scale: 0.7;
        }
        .th_img_box:nth-child(1){
            position: absolute;
            top: -21%;
            left: -10%;
        }
        .th_img_box:nth-child(2){
            position: absolute;
            top: 8%;
            left: 36%;
        }
        .th_img_box:nth-child(3){
            position: absolute;
            top: 40%;
            left: -10%;
        }
        /* 성분페이지 끝 */
        /* 이벤트페이지 시작 */
        .event_page{
            width: 100%;
            height: 100vh;
            background-color: rgb(244, 201, 204);
            position: relative;
            top: 0;
            overflow: hidden;
        }
        .event_page>.swiper {
            width: 100%;
            height: 59%;
          }
        
         .event_page>.swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        
          .event_page img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: none;
          }
        
        
        
        .event_text{
            width: 27%;
            height: 23%;
            position: absolute;
            top: 5%;
            left: 50%;
            margin-left: -13%;
            background-image: url(../img/evetext.png);
            background-repeat: no-repeat;
            z-index: 999;
        }
        .event_back{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
        
         /* 이벤트페이지 끝 */
         /* 푸터 시작 */
        footer{
            width: 100%;
            height: 30vh;
            background-color: rgb(97, 6, 35);
            position: relative;
         
            
        }
        .footer_logo{
            width: 25%;
            height: 25%;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 25%;
            left: 15%;
        }
        .footer_text{
            width: 50%;
            height: 50%;
            position: absolute;
            top: 20%;
            left: 50%;
            margin-left: -25%;
        }
        footer p{
            text-align: center;
            color: white;
            font-size: 1.3rem;
        }
        
}